snippet article "Article template" b
\documentclass{article}

\begin{document}
\title{${1:Title}}
\author{Max Cohen}
\date{`date "+%A, %d %B"`}
\maketitle
\tableofcontents
$0
\end{document}
endsnippet
